<template>
  <div class="hello">
    <div class="finput">
      <h3>bg (fixed)</h3>
      <input type="file" @change="loadfile($event, 0)" />
      <Inputs :properties="properties[0]" :index="0" />
    </div>
    <div class="finput">
      <h3>Layer 1</h3>
      <input type="file" @change="loadfile($event, 1)" />
      <Inputs :properties="properties[1]" :index="1" />
    </div>
    <div class="finput">
      <h3>Layer 2</h3>
      <input type="file" @change="loadfile($event, 2)" />
      <Inputs :properties="properties[2]" :index="2" />
    </div>
    <div class="finput">
      <h3>Layer 3</h3>
      <input type="file" @change="loadfile($event, 3)" />
      <Inputs :properties="properties[3]" :index="3" />
    </div>
    <div class="finput">
      <h3>Layer 4</h3>
      <input type="file" @change="loadfile($event, 4)" />
      <Inputs :properties="properties[4]" :index="4" />
    </div>
    <div id="preview" ref="preview">
      <div
        :class="getClasses(0)"
        :style="`background-image:url('${getImg(0)}');left:${layerDeltas[0].x}px;top:${layerDeltas[0].y}px;`"
      >
        <img :src="getImg(0)" />
      </div>
      <div
        :class="getClasses(1)"
        :style="`background-image:url('${getImg(1)}');left:${layerDeltas[1].x}px;top:${layerDeltas[1].y}px;`"
      >
        <img :src="getImg(1)" />
      </div>
      <div
        :class="getClasses(2)"
        :style="`background-image:url('${getImg(2)}');left:${layerDeltas[2].x}px;top:${layerDeltas[2].y}px`"
      >
        <img :src="getImg(2)" />
      </div>
      <div
        :class="getClasses(3)"
        :style="`background-image:url('${getImg(3)}');left:${layerDeltas[3].x}px;top:${layerDeltas[3].y}px`"
      >
        <img :src="getImg(3)" />
      </div>
      <div
        :class="getClasses(4)"
        :style="`background-image:url('${getImg(4)}');left:${layerDeltas[4].x}px;top:${layerDeltas[4].y}px`"
      >
        <img :src="getImg(4)" />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Inputs from "./Inputs";
import Constants from "../constants";
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  components: {
    Inputs
  },
  data: () => {
    const defaultProps = {
      layerFill: "",
      repeatX: false,
      repeatY: false,
      position: Constants.ALIGNMENTS.BOTTOMCENTER
    };
    const defaultlayerDeltas = {
      x: 735,
      y: 365
    };
    return {
      files: ["", "", "", "", ""],
      properties: [
        Object.assign({}, defaultProps),
        Object.assign({}, defaultProps),
        Object.assign({}, defaultProps),
        Object.assign({}, defaultProps),
        Object.assign({}, defaultProps)
      ],
      layerDeltas: [
        Object.assign({}, defaultlayerDeltas),
        Object.assign({}, defaultlayerDeltas),
        Object.assign({}, defaultlayerDeltas),
        Object.assign({}, defaultlayerDeltas),
        Object.assign({}, defaultlayerDeltas)
      ]
    };
  },

  mounted() {
    this.$refs.preview.addEventListener("mousemove", this.mmove);
  },
  methods: {
    async loadfile(event, num) {
      const b64File = await this.toBase64(event.target.files[0]);
      Vue.set(this.files, num, b64File);
      this.files[num] = b64File;
    },

    mmove(event) {
      const rect = event.currentTarget.getBoundingClientRect();
      const deltaX = event.clientX - rect.left;
      const deltaY = event.clientY - rect.top;
      this.layerDeltas.forEach((layerDelta, index) => {
        layerDelta.x = deltaX * index - 735 * index;
        layerDelta.y = deltaY * index - 365 * index;
      });
    },

    toBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => {
          resolve(reader.result);
        };
        reader.onerror = error => reject(error);
      });
    },

    getImg(num) {
      return this.files[num];
    },

    getClasses(num) {
      let arrReturn = [];
      const propertyToUse = this.properties[num];
      arrReturn.push(propertyToUse.layerFill);
      arrReturn.push(propertyToUse.position);
      if (propertyToUse.repeatX) {
        arrReturn.push("repeat-x");
      }

      if (propertyToUse.repeatY) {
        arrReturn.push("repeat-y");
      }

      return arrReturn.join(" ");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.hello {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  .finput {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    flex-basis: 100%;
    h3 {
      display: inline-block;
      margin: 0;
      margin-right: 20px;
    }
  }
}
#preview {
  width: 735px;
  height: 365px;
  overflow: hidden;
  background-color: lightblue;
  margin-top: 30px;
  position: relative;
  div {
    position: absolute;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: bottom 50% left 50%;
    &:nth-child(2) {
      width: 200%;
      height: 200%;
    }
    &:nth-child(3) {
      height: 300%;
      width: 300%;
    }
    &:nth-child(4) {
      width: 400%;
      height: 400%;
    }
    &:nth-child(5) {
      width: 500%;
      height: 500%;
    }
    img {
      visibility: hidden;
    }
    &.layerfill-width {
      background-size: 735px;
    }
    &.layerfill-height {
      background-size: auto 365px;
    }
    &.repeat-x {
      background-repeat: repeat-x;
      &.repeat-y {
        background-repeat: repeat;
      }
    }
    &.repeat-y {
      background-repeat: repeat-y;
    }
    /*
    &.bottom-center {
      background-position: bottom 50% left 50%;
    }
    &.bottom-left {
      background-position: bottom 50% left 735px;
    }
    &.bottom-right {
      background-position: bottom 365px right 35%;
    }
    &.top-center {
      background-position: top 50% left 1470px;
    }
    &.top-left {
      background-position: bottom 0px left 0px;
    }
    &.top-right {
      background-position: bottom 0px right 0px;
    }
    */
  }
}
</style>