<template>
  <div class="inputs">
    <input v-model="properties.repeatX" value="repeat-x" type="checkbox" :id="`repeatx-${index}`" />
    <label :for="`repeatx-${index}`">repeat-x</label>
    <input v-model="properties.repeatY" value="repeat-y" type="checkbox" :id="`repeaty-${index}`" />
    <label :for="`repeaty-${index}`">repeat-y</label>
    <select v-model="properties.layerFill" :id="`layerfill-${index}`">
      <option value>none</option>
      <option value="layerfill-width">width</option>
      <option value="layerfill-height">height</option>
    </select>
    <label :for="`layerfill-${index}`">layerfill</label>
    <select v-model="properties.position" :id="`layerfill-${index}`">
      <option v-for="alignment in alignments" :value="alignment" :key="alignment">{{ alignment }}</option>
    </select>
    <label :for="`layerfill-${index}`">position</label>
  </div>
</template>

<script>
import Constants from "../constants";
export default {
  name: "Inputs",
  props: {
    msg: String,
    properties: Object,
    index: Number
  },
  data: () => {
    return {
      alignments: Constants.ALIGNMENTS
    };
  },

  methods: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.inputs {
  display: inline-block;
  input,
  select {
    margin-left: 10px;
  }
}
</style>