<template>
  <div id="app">
    <div class="banner">
      <img alt="logo boru" src="./assets/saw.png" class="logo" />
      <h1>Parallax tester 👀</h1>
    </div>
    <p>
      Parallax tester is a tool to quickly preview
      <a
        href="https://flame-engine.org/docs/components.md#parallax-component"
        target="_blank"
      >Flame's ParallaxComponent</a>.
    </p>
    <p>The "positon" parameter does not work atm, layers will be centered by default</p>
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <div>
      <a target="_blank" href="https://gitlab.com/tbarbot/parallaxpreview">hmu 👀</a>
    </div>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "App",
  components: {
    HelloWorld
  }
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  .banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo {
      width: 75px;
    }
    h1 {
      display: inline-block;
      margin-left: 10px;
    }
  }
  p {
    display: block;
    text-align: left;
    flex: 1;
    flex-basis: 100%;
    margin: 2px;
  }
}
</style>
